language: node_js
node_js:
- node
notifications:
  email: false
  slack:
    rooms:
    - programwarscardgame:u1VhNgRjj1X8gxpEWhfLw6MP#builds
    on_success: change
    on_failure: always
cache:
  directories:
  - node_modules
services:
- xvfb
before_script:
- export DISPLAY=:99.0
install:
- npm install
script:
- npm run ci-coverage
before_deploy:
- npm run build
if: branch = master
deploy:
  provider: firebase
  project: program-wars
  skip_cleanup: true
  token:
    secure: hyDqyDY0fbKXHGWLk0j3quoyVyffjj0fg43lfMORCPOTxFD+Min0APJPPeMO1vmt6ubYnEUMVRFQeN9t1DMRVzAC9hNGVy/5pV3Age616r5icvbs/cAE9lwwUfY47oX8nBCNn9fBdUl/qMjmG2KflBiB85T8WcEobmNouIY8z1g7oyF2rAoU2AV0c769+l8Kqvgd4iGuL4jO6fJFgDB6bLQT6cmbqGhZNB6DbHQCcVuFDNjlILaY+V8MIrZOG1AEY/dlqaC5vYou6gb5zlxZKtXGrpk4NkbmB3oLpr8OfFJPUVpBb78tOpGX19+EvgHcekvxRaP1npA1VgFWeU3/uJBTBfcdWsbs6L86434P5ge6oqJ5iMKyeXFeXt+bQ6hhiipn7D1hWqRcaVmqSSE7lF+s/JGOXIxNxj8h1Ih0UH1FObELgEisKdJOHbRzz2MoHzbJKbaqudocVllS9YVgP6eHkmS1PyQOOCDE21G8bAYQ4NWw6kSvA26BfX2cqtVeyOi5+ScqSlMiFuhUXRaI5nbgBQeRSwzBBRbruuty2F7ySGKpLj0pTLrKeafiSrSG+wk/DakfOObZvTnLCJNT8xVvo2IHB7yucFcgX0QHHtY0jmEQHRkwcmGZI+bXH0QB97Lfg0Bbw6OY5++dwxvC3rjxsN9y6U6Gw56OOk9egcY=
  on:
    branch: master
