language: node_js
node_js:
  - "node"

addons:
  code_climate:
    repo_token: 814d39d2092e7f3b870f9a455dad28295a4aa15e611472ecca5a6ae547a536f6

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

cache:
  directories:
    - "node_modules"

install:
  - npm install
  - npm install karma-firefox-launcher --save-dev
  - npm install jasmine-core --save-dev
  - npm install karma-chrome-launcher --save-dev
  - npm install karma-jasmine --save-dev
  - npm install --global chrome-headless-launcher --save-dev  


script:
- npm run test
  
after_success:
  - npm install -g codeclimate-test-reporter --save-dev
  - cat ./test/unit/coverage/lcov.info
  - codeclimate-test-reporter < ./test/unit/coverage/lcov.info
  
