language: node_js

node_js:
   - node

notifications:
  email: false
  slack:
    rooms:
      - programwarscardgame:u1VhNgRjj1X8gxpEWhfLw6MP#builds
    on_success: change # default: always
    on_failure: always # default: always
        
      
addons:
  ssh_known_hosts:
  - cullen.io

before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter 
- chmod +x ./cc-test-reporter

cache:
  directories:
  - node_modules
install:
- npm install karma-firefox-launcher
- npm install jasmine-core
- npm install karma-chrome-launcher
- npm install karma-jasmine
- npm install vue-radial-progress
script:
- ./cc-test-reporter before-build
- npm run test
after_success:
- mv ./test/unit/coverage .
- ./cc-test-reporter after-build -t lcov -r 09f861ca773e539244a9f3654511a4de0ad532c566ba6a0dab98ae5ec033b1d3 --exit-code $TRAVIS_TEST_RESULT; 

- openssl aes-256-cbc -K $encrypted_d5e0ba2980d8_key -iv $encrypted_d5e0ba2980d8_iv -in deploy_rsa.enc -out deploy_rsa -d
#- eval "$(ssh-agent -s)"
#- chmod 600 deploy_rsa
#- ssh-add deploy_rsa
#- git remote add deploy ssh://git@cullen.io/var/repo/programwars.git
#- git push deploy

