language: node_js

node_js:
   - node

notifications:
  email: false
  slack: programwarscardgame:u1VhNgRjj1X8gxpEWhfLw6MP#builds

addons:
  code_climate:
    repo_token: 814d39d2092e7f3b870f9a455dad28295a4aa15e611472ecca5a6ae547a536f6

before_script:
   - export DISPLAY=:99.0
   - sh -e /etc/init.d/xvfb start

cache:
  directories:
  - node_modules

install:
   - npm install karma-firefox-launcher
   - npm install jasmine-core
   - npm install karma-chrome-launcher
   - npm install karma-jasmine

script:
   - npm run test

after_success:
   - npm install -g codeclimate-test-reporter --save-dev
   - codeclimate-test-reporter < ./test/unit/coverage/lcov.info

before_deploy:
   - openssl aes-256-cbc -K $encrypted_087f33004b68_key -iv $encrypted_087f33004b68_iv -in deploy_rsa.enc -out deploy_rsa -d


deploy:
   - provider: script
     skip_cleanup: true
     script:
        - eval "$(ssh-agent -s)"
        - chmod 600 .travis/deploy_rsa
        - ssh-add .travis/deploy_rsa
        - git push production   
     on:
        branch: master