language: node_js
node_js:
- node
notifications:
  email: false
  slack:
    rooms:
    - programwarscardgame:u1VhNgRjj1X8gxpEWhfLw6MP#builds
    on_success: change
    on_failure: always
cache:
  directories:
  - node_modules
env:
  global:
  - secure: HyJuoLRVsNJR0TVgd9/pozY0pddTyQhXERZkespaQeAFWppg+XZDl6WR9Cw2oMuIIzWr3UIIhMT976PetEBdIcBV8bNrbjSJOI118rsieHOI8CR4ycTyjWQpRU9iU94rOkM1+H0q0j0mDLg0QjA5bkh3BVj0/IdrSCgRF1gb7UDK+Q/RQYpAOvovKIRlOZrC9Va+YygeGmjrR/A0GGw6wVf/K0DLNkMEdHEbrSSpfQ2Un5YlzqskL22jzbzWNN32jEuwJqc9cIQlFRZAZBAinxBRW4fGNIbcN/ZLnwSI3fvqUuRi00g67dmU+ebFCMfymGAECM//DGcFLdPVa/MzfuyW2IRkMarW3ZPEr5O5ApOC6TlqY0RXBXimPBIMCORfmQipd7LN57EzLyjFcFxW2Symmvv4664BxZ/HiI2KDC0dG+PgpAX/Mffywet0Zxuu37kQZyytie5EynY03haPjQFI66ZCpXOHOl7PxH9CSTdAkP8RddlJHW2VeuIJejxzZNE8U6AVu2j/YRmTqOLB7f90hDZvaAZMQIxECHhOE3TdiTHZ8xcfhZOZxWGqZAQiJrLkWRmNn78yG/MaAMV+iF5vocC+oYOZ8wPEgBWM9zWUbSMbjn50UbA4W698vjlWcOU3N0Fqa3u1ZQKR7CwpHgYY2OnzRpFz4Uur4KXtopc=
  - secure: P2VduVXNWti/yjbrtWWJEgyJluq/9BKL0f5ijuKYebF1giesmQ3SKoZZamho3tS8TCiST0hX2RvshwoNdNr1/4M6ucImaDo6KA0sj5HuX6xb5PnXrIbHLd9ZFaB/yHE3XZCDASWYF6mnPmgVh+rv2PIwX7yYLetOrrqk/qVgnPs8mLO+0Z+rctMeBcc6aFKmlZO205jDOvriFcflPgmgDjLJ+Hp7VwAkS3cMVsiwQH7oxjYgNRQ8WWHoUOhNM/5S0vD4z1eeoRB8rPlT8+U8PIkQCAwQh5u/NxgS3IyLst6YujbxgqX5Sb4mesW4m7cEQa/j3FsK1M7aWf3YlLnzZbmDm8+NusGK6m4k9R01NAABMiQUezGmZFZ/Nczy16nVSfemlO4IO7aGPc+jhRxDJXmWZRU5cpCngxHb0ekXiNaC2VzVg+CGiz0hgpPzyWXs4NeEfORxuK+4W3R6jh8zvf40L3fwWoJd7HNFWvJCNq2Q2mW6Kyr5ce2C+mGiqCH5nVci4tIUlAsGrdyHVuSFXgwWwwrv/9GT+SjB7T4U3dbYSztHx99tJQppD/4IdMk3VTtyyprR0zz/Bi7sDdpU7qKsZfOWsrDWRgjrv1mzjmKX9Eytp4uHkn4rTDowgoxLMsKMi5KXvm/gtVBoraW3mv+MVnnNMY3MF6/lNh7GTZ4=
  - secure: mtaA4qRKE1uyyhMiquo1nfjAlUZBcd49vqWs074IKFrOFt7pJ6IjlYKH/wmOgz8+6F2Idm6leS4VztRQmRh8P0HHjSpC9mGbx5a87qtVga9z186qRscD0LX4ERiF8/L476lTEpL7TIJyHSkbtxryUpsl72qsTLxEnLl+8QLutktvJVfoVN17Dg3Sj8fZuTQ01f8GYW7DB+9LF4rt6NVlU3w5OOXsATcfiypMpl2u4uNRbZgH2YDdXmzZaSlRuWKsNE+rkhZuQG0/fvivPpeI1+82XZzaiDrGsxjnjirrw2CNBk4Y9mAkEzRlLRjB2cBR7pL9YnbXIyobtddPWwtrGyQZvn/kkbgaE7yyOMyk/2HTWnKgYRT7kf5fgrEHP7SW2wAAnH9EVQHntrJVKjrmd73GEaO8xhfXS/XqnkJZgKj180beBcBX7kBlNpC398+lQGDetVejWOtgN7DMQJc/v9dGSUfGgHO0gcZpz4Z2ccVMuESPyZPznm4hkq71ItNN1z8tfz8D92hpY0w30IP6XG0qbJufCmo+q1CjE0Aw4SCT18/BgnjDxQeCAxzo7X69tTSNAMNgQFYNQG1iNueDZ9MXL9IggBAmAJEc2T3e0ekyGKI0WEcha+0LBXCVZqAxoaA+mk8LRzkPkz97eMwvnAGb5dUrSJ9dhiJe2XwL+/g=
  - secure: magLmwN4smhbLdUIcwv2SdYmW+wy2dCS9Mmfb7H/VDEtVZzEV+1yDouSPWSOs53bCY7KvjIx65xHywsz4ex8YVoH8uhI2BFfGpjlq9DVsZsY4bA5sMO3OwfrTVZMuTidvYXRBDHNUiWxxiUcmlUNBTBOxYeCiu1NhksbokQJcqJzjUtN5zvrla5K7HMR/KpP+3QDwoCTxm/vgqP5QjAh3LKgvDTbgv3A4mbHvvn1+rcKW7pR4vtZNr4TvB+FoxNkL76ubQXAhGU5inGu7asJb/RbBWbqgxALOgf3j3iCQQVdriibYGvyqbMdLMyyWuPPsfT+PUO7K3Co2jTwB/TyjlNvvot5TyZ3arSRJYk17ThgkiCe9ZcRLO7VVZqgtgArg5iUWcdaHlD0pocURWjVljFVy2MY+sEbmg51ldClJTcqAp+8DrmF8w/Kxn9z+3hhDqWheYSw4lvjjhhki1hF4eZCGFMQI+ovaZeuqfL2XRU9XrFIuJiRB4V2g4lfVdaqtbEnnZR2jTJ3By5GD7Nn8IRtz3xHNVHK/iVMQVyeK2fxhm2Q1mggesAT2CnKWn/W9yhH0NlYTEwp0qpZyYuZlS95goBouA2ptSvh/aZ5Ogx0+uYrcpNpBAwVWHCsssXPCpbdib3CRfVbC2K0yLR6OQgapz81s/ao5chhVJUA6KQ=
  - secure: X4RQqh4rWIIPTqeQs5nDuPRBnbxlC1gN2AnCFGbK2sEMgvV9S4cruGnbwEdqyvf2WkVJqbXcNSkifvWlhI+FqO43i2bqq2qQHhuqHkAKQ2UoDvJ0MdmvlLcucNUoeUW6zsoH5HznZp7ySRSaRfkQ7y4okOpWhxVIVScLC09tg3rQswnUnYRemUh6Fa0nJKrc3QiAjeUEjC9WEiVsKE+GO5pmKuQCWPqSL0zsPexuJd9bW8Gy3yE+FWa9Ijkqq5O7ZwG+JXQAqHwJvffmEVtyYAU/RqKF7KpaY1VwJWg9Z+XAIRQwJtTZsWwmAMVlgP1PFDFkgEbBJDvEV/Ijj8fnpNbXRLJJqeC+EOrw2vGGVDC+YaNbrVtYgQ8JIjg3gRHhv1m9YMrMY1EXZAwIIXkehUb8ctxgmXhihPEQ5zXluUTpYU8DY/u0Xx+G6s4oyZrx1CVfrephDPJNHF7QZsZltP0vsUkBijnkMVco0niD2tHugK0rO8PRpakDMiJ5L7TYZu8xr9cwZm0pLwSsbCGN2DcOtRmryFeks2+l9gjxYOelCHdonvsqAJmF/Cm1RnRsvixjcKlTJVsvPIPNcw0C65mLTGXJgZS45aGCHp6VTZJ8ufYFYQZz9ahvHNSMP5UrmburKDTc//1riR/E5miC6nCmTtIX98OYlO67l7qIgbc=
services:
- xvfb
before_script:
- export DISPLAY=:99.0
install:
- npm install
script:
- npm run test
before_deploy:
- npm run build
if: branch = master
deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: 1//06bbp29siu2UNCgYIARAAGAYSNwF-L9IrFaPW7vk4dfAJLOODlcBIGQ-vVgZXHllJ68iZgrgg8txJ3qdM-gEyC0PB3dD6sZw6xa8
  project: program-wars
  on:
    branch: master
